// primary-color
.dumbledamn-primary {color         : $primary-color;}
.dumbledamn-primary-dark {color    : $primary-color-dark;}
.dumbledamn-primary-light {color   : $primary-color-light;}
.dumbledamn-primary-text {color    : $primary-color-text;}
// secondary-color
.dumbledamn-secondary {color       : $secondary-color;}
.dumbledamn-secondary-dark {color  : $secondary-color-dark;}
.dumbledamn-secondary-light {color : $secondary-color-light;}
.dumbledamn-secondary-text {color  : $secondary-color-text;}
// third-color
.dumbledamn-third {color           : $third-color;}
.dumbledamn-third-dark {color      : $third-color-dark;}
.dumbledamn-third-light {color     : $third-color-light;}
.dumbledamn-third-text {color      : $third-color-text;}
// gray-color
.dumbledamn-gray {color            :$gray-color;}
.dumbledamn-gray-dark {color       :$gray-color-dark;}
.dumbledamn-gray-light {color      :$gray-color-light;}
.dumbledamn-gray-text {color       :$gray-color-text;}
// yellow-color
.dumbledamn-yellow {color          :$yellow-color;}
.dumbledamn-yellow-dark {color     :$yellow-color-dark;}
.dumbledamn-yellow-light {color    :$yellow-color-light;}
.dumbledamn-yellow-text {color     :$yellow-color-text;}
// green-color
.dumbledamn-green {color           :$green-color;}
.dumbledamn-green-dark {color      :$green-color-dark;}
.dumbledamn-green-light {color     :$green-color-light;}
.dumbledamn-green-text {color      :$green-color-text;}
// red-color
.dumbledamn-red {color             :$red-color;}
.dumbledamn-red-dark {color        :$red-color-dark;}
.dumbledamn-red-light {color       :$red-color-light;}
.dumbledamn-red-text {color        :$red-color-text;}
// blue-color
.dumbledamn-blue {color            :$blue-color;}
.dumbledamn-blue-dark {color       :$blue-color-dark;}
.dumbledamn-blue-light {color      :$blue-color-light;}
.dumbledamn-blue-text {color       :$blue-color-text;}
// gryffindor-color
.gryffindor-color                   {color :$gryffindor-color;}
.gryffindor-color-dark              {color :$gryffindor-color-dark;}
.gryffindor-color-light             {color :$gryffindor-color-light;}
.gryffindor-color-text              {color :$gryffindor-color-text;}
// slytherin-color
.slytherin-color                    {color :$slytherin-color;}
.slytherin-color-dark               {color :$slytherin-color-dark;}
.slytherin-color-light              {color :$slytherin-color-light;}
.slytherin-color-text               {color :$slytherin-color-text;}
// ravenclaw-color
.ravenclaw-color                    {color :$ravenclaw-color;}
.ravenclaw-color-dark               {color :$ravenclaw-color-dark;}
.ravenclaw-color-light              {color :$ravenclaw-color-light;}
.ravenclaw-color-text               {color :$ravenclaw-color-text;}
// hufflepuff-color
.hufflepuff-color                   {color :$hufflepuff-color;}
.hufflepuff-color-dark              {color :$hufflepuff-color-dark;}
.hufflepuff-color-light             {color :$hufflepuff-color-light;}
.hufflepuff-color-text              {color :$hufflepuff-color-text;}
// gryffindor-color-link
.gryffindor-color-link              {color :$gryffindor-color;&:hover {color:$gryffindor-color;}}
.gryffindor-color-link-dark         {color :$gryffindor-color-dark;&:hover {color:$gryffindor-color-dark;}}
.gryffindor-color-link-light        {color :$gryffindor-color-light;&:hover {color:$gryffindor-color-light;}}
.gryffindor-color-link-text         {color :$gryffindor-color-text;&:hover {color:$gryffindor-color-text;}}
// slytherin-color-link
.slytherin-color-link               {color :$slytherin-color;&:hover {color:$slytherin-color;}}
.slytherin-color-link-dark          {color :$slytherin-color-dark;&:hover {color:$slytherin-color-dark;}}
.slytherin-color-link-light         {color :$slytherin-color-light;&:hover {color:$slytherin-color-light;}}
.slytherin-color-link-text          {color :$slytherin-color-text;&:hover {color:$slytherin-color-text;}}
// ravenclaw-color-link
.ravenclaw-color-link               {color :$ravenclaw-color;&:hover {color:$ravenclaw-color;}}
.ravenclaw-color-link-dark          {color :$ravenclaw-color-dark;&:hover {color:$ravenclaw-color-dark;}}
.ravenclaw-color-link-light         {color :$ravenclaw-color-light;&:hover {color:$ravenclaw-color-light;}}
.ravenclaw-color-link-text          {color :$ravenclaw-color-text;&:hover {color:$ravenclaw-color-text;}}
// hufflepuff-color-link
.hufflepuff-color-link              {color :$hufflepuff-color;&:hover {color:$hufflepuff-color;}}
.hufflepuff-color-link-dark         {color :$hufflepuff-color-dark;&:hover {color:$hufflepuff-color-dark;}}
.hufflepuff-color-link-light        {color :$hufflepuff-color-light;&:hover {color:$hufflepuff-color-light;}}
.hufflepuff-color-link-text         {color :$hufflepuff-color-text;&:hover {color:$hufflepuff-color-text;}}


// gryffindor-color-link-white
.gryffindor-color-link-white        {color: #fff;&:hover {color: #fff;}}
// slytherin-color-link-white   
.slytherin-color-link-white         {color: #fff;&:hover {color: #fff;}}
// ravenclaw-color-link-white   
.ravenclaw-color-link-white         {color: #fff;&:hover {color: #fff;}}
// hufflepuff-color-link-white  
.hufflepuff-color-link-white        {color: #fff;&:hover {color: #fff;}}
// social-media-color
.dumbledamn-facebook{color         :$facebook-color;}
.dumbledamn-twitter{color          :$twitter-color;}
.dumbledamn-pinterest{color        :$pinterest-color;}
.dumbledamn-google{color           :$google-color;}
.dumbledamn-google-plus{color      :$google-plus-color;}
.dumbledamn-tumblr{color           :$tumblr-color;}
.dumbledamn-instagram{color        :$instagram-color;}
.dumbledamn-youtube{color          :$youtube-color;}
// other-color
.dumbledamn-white {color           :$white-color;}
.dumbledamn-black {color           :$black-color;}
.dumbledamn-transparent {color     :transparent;}